img {
  display: block;
}
#image {
  width : 600px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px 
}

#img-caption {
  width: 80%;
}

#img-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#title , p {
  text-align: center;
}

#title {
  padding-bottom: 20px;
}

header {
  background: #f7d0f5;
  padding: 10px;
}

* {
  margin: 0;
}

#head-info {
  margin-top : 25px;
  text-align: center;
  margin-bottom: 20px;
}

span {
  font-style: italic;
  font-weight: bold;
}

#tribute-info {
  display : flex;
  flex-wrap: wrap;
  width: 600px;
  letter-spacing: 0.1em;
}

.container {
  display : flex;
  justify-content: center;
}

#quote {
  padding: 25px;
}

footer { 
  padding: 15px;
  text-align: center;
}